<% # renders in 'views/races/edit.html.erb' %>
<div class="container page-container">
  <div class="d-flex mb-3">
    <h2 style="margin-right: 8px;">Edit race</h2>
    <div>
      <%= link_to "<< Back", request.referer.present? ? request.referer : races_path, class: "m-0 mb-3 button-text-sm align-bottom" %>
      </div>
    </div>
  </div>
  <div class="container races-container-style">
    <div class="row p-3">
      <%= simple_form_for @race do |f| %>
        <%= f.input :name, class: "col-3" %>
        <%= f.input :description, class: "col-3" %>
        <%= f.input :length, class: 'col-3' %>
        <%= f.input :meet_point %>
        <%= f.input :start_time %>
        <div class="place-btn">
          <%= f.button :submit, "Update race", class: "main-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
