<div class="container page-container">

    <h1 class>Lista de carreras</h1>

    <div class="row justify-content-md-center races-container-style">


      <% @races.each do |r| %>

      <div class="card m-3 card-shdw" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1607962837359-5e7e89f86776?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="Runners preparing to train in group">
        <div class="card-body">
          <h5 class="card-title"><%= r.name  %></h5>
          <p class="card-text">Distance: <%= r.length  %> km. </p>
          <p class="card-text">Meeting point: <%= r.meet_point  %></p>
          <p class="card-text">Starting time: <%= r.race_datetime.strftime("%d %b of %Y, %H:%M") %></p>

            <a href="#" class="secondary-btn">Join this race</a>
            <div class="CRUD-links">
              <%= link_to "Edit race", edit_race_path(r), class: "btn btn-sm btn-alert button-text-sm " %>
              <%= link_to "Delete race", race_path(r), method: :delete, class: "btn btn-sm button-text-sm", data: {confirm: "Are you sure?"} %>
            </div>

        </div>
      </div>

      <% end %>

    </div>

</div>


    <div class="separate-article">
      <div class="container justify-content-md-center">
        <h3>Can't find a race?</h3>
        <p>Create a race that matches your preferences and get all the fun of <span class="" style="font-size: ">Run Together</span></p>
        <%= link_to "Create a race", new_race_path, class:"secondary-btn" %>
      </div>
    </div>

