<div class="container page-container">
  <div class="container races-container-style">
    <div class="row p-3">
    <h2>Create race</h2>
      <%= simple_form_for @race do |f| %>

        <div class="mb-3">
          <%= f.input :name, class: "col-3" %>
        </div>

        <div class="mb-3">
          <%= f.input :description, class: "col-3" %>
        </div>

        <div class="mb-3">
          <%= f.input :length, class: 'col-3' %>
        </div>

        <div class="mb-3">
          <%= f.input :meet_point %>
        </div>

        <div class="mb-3">
          <%= f.input :start_time %>
        </div>

        <%= f.button :submit, "Create race", class: "secondary-btn" %>
      <% end %>
      <p style="color: grey;"><small>Changed your mind?</small><%= link_to "Back", request.referer.present? ? request.referer : races_path, class: 'button-text-sm brand-typo my-3' %>
      </p>
    </div>
  </div>
</div>

