<div class="rt-banner">
  <div class="d-flex flex-column justify-content-center text-center rt-media-banner py-4">

    <div> <%# START TITLE  %>
      <h1 class="text-light col-10 col-md-8 mx-auto mb-3">
        Create a race
      </h1>
    </div> <%# END TITLE  %>

    <div class="container"> <%# START SIGN UP FORM %>
      <div class="row justify-content-center">
        <div class="col col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4">

          <%= simple_form_for @race, html: { novalidate: false } do |f| %>

          <div class="form-control rt-devise-border-0 rt-devise-bg-0 p-0 m-0">
            <div class="rt-devise-form-bg rt-dvise-border rt-rounded py-4 px-3 text-start text-light">

              <% if f.object.errors[:base].present? %>
                <div class="alert alert-danger rt-validation-alert mb-3" role="alert">
                  <%= f.object.errors[:base].to_sentence %>
                </div>
              <% end %>

              <%= f.error_notification %>

              <div class="form-inputs"><%# START FORM INPUTS %>

                <div class="mb-3">
                  <%= f.input :name,
                    class: "col-3",
                    label: 'Race name *',
                    required: true,
                    hint: 'Maximum 25 characters, must be unique',
                    error: 'Please enter a unique race name (max 25 characters)' %>
                </div>

                <div class="mb-3">
                  <%= f.input :description,
                    class: "col-3",
                    label: 'Description *',
                    required: true,
                    error: 'Please provide a description for the race' %>
                </div>

                <div class="mb-3">
                  <%= f.input :length,
                    class: 'col-3',
                    label: 'Length (km) *',
                    required: true,
                    hint: 'Enter distance in kilometers (whole numbers only)',
                    error: 'Please enter a valid distance (positive whole number in km)' %>
                </div>

                <div class="mb-3">
                  <%= f.input :meet_point,
                    label: 'Meeting point *',
                    required: true,
                    hint: 'Enter the address or location name',
                    error: 'Please specify where the race will start' %>
                </div>

                <div class="mb-5">
                  <%= f.input :start_date,
                    label: 'Start date and time *',
                    required: true,
                    error: 'Please select when the race will begin' %>
                </div>

              </div>
              <%# END FORM INPUTS %>

              <%# SUBMIT %>
              <div class="form-actions text-center my-3">
                <%= f.button :submit, "Create race", class: "btn rt-btn rt-font-brand" %>
              </div>

              <% end %>

              <div class="d-flex flex-column text-center">
                <%= link_to "Back", request.referer.present? ? request.referer : races_path, class: 'rt-font-small rt-banner-link-grey rt-font-xsmall' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
