<div class="container">
  <div class="xontent mt-5 mb-0">
    <h2><%= @race.name %></h2>

    <div class="owner-block">
      <div class="x-owner-intro">
        <p>Created by:</p>
      </div>
      <div class="x-avatar">
        <% user = User.find(@race.user_id) %>
        <% if user.photo.key %>
          <%= cl_image_tag user.photo.key, height: 150, width: 150, gravity: :face, crop: :fill, class: 'owner-avatar' %>
        <% else %>
          <%= image_tag "logo.png", alt:"RunTogether logo", class: "owner-avatar", style: "background-color: black; image-size: cover;"%>
        <% end %>
      </div>
      <div class="x-owner-intro">
        <p><%= user.name.split[0] %></p>
      </div>
    </div>

    <div class="" style="align-items: center;">
      <img src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/<%= "#{@race.longitude},#{@race.latitude}" %>,14,0/600x600?access_token=<%= ENV['MAPBOX_API_KEY'] %>' class="xontainer card-shadow" style="background-position: center; height: 50vh; width: 50vh;" />

      <div class="show-separator"></div>

      <%= render 'shared/runner_join_button' %>

      <div class="show-separator"></div>
    </div>
  </div>

  <div class="xontainer p-3" style="width: 100%">
    <div class="card-body">
      <h3 class="text-center">Race info</h3>
      <p class="card-text"><strong>Info: </strong><%= @race.description %></p>
      <p class="card-text"><strong>Distance: </strong><%= @race.length %> km.</p>
      <p class="card-text"><strong>Where: </strong><%= @race.meet_point  %></p>
      <p class="card-text"><strong>When: </strong><%= @race.start_date.strftime("%d %b of %Y, %H:%M") %></p>
    </div>

      <div class="card-body" style="width: 100%;">
        <%= link_to "Back", races_path, class: 'my-0 mx-3 button-text-sm align-bottom' %>
        <%= link_to "Edit", edit_race_path(@race), class: "my-0 mx-3 button-text-sm align-bottom" %>
        <%= link_to "Delete", race_path(@race), method: :delete, class: "my-0 mx-3 button-text-sm align-bottom", data: {confirm: "Are you sure?"} %>
      </div>
  </div>

    <% # ASSISTANTS %>
    <div class="xontainer p-3">
      <div class="card-body" style="width: 100%;">
        <%= render 'shared/assistants' %>
      </div>
    </div>

    <% # CHAT %>

    <div class="d-flex mb-3 card-shadow">
      <div class="container card card-shadow">
        <div class="card-body">
          <h5>Chat</h5>

        <p>chat</p><p>chat</p><p>chat</p><p>chat</p>

        </div>
      </div>
    </div>
  </div>
</div>
