<div class="container">

  <div class="row">
    <div class="col mt-5">
      <h1 class="text-center text-dark"><%= @race.name %></h1>
    </div>
  </div>

  <%= render 'shared/owner_block' %>
  <%= render 'shared/races_show_buttons' %>

  <div class="row px-4 mt-3 mb-5">
    <div class="col rt-shadow rt-rounded p-0">
      <div id="map"
      class="rt-rounded rt-map"
	  data-controller="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="text-center">Race info</h3>
  </div>

  <div class="row px-4">
    <div class="col rt-rounded rt-shadow bg-light p-3">
      <div class="row text-center my-3">
        <p class="mb-0"><strong>Info:</strong></p>
        <p class="text-break"><%= @race.description %></p>
      </div>

      <div class="row d-flex justify-content-around px-4 my-3 my-md-0">
        <div class="col col-10 col-md-auto border-start border-info border-2 mb-2">
          <p class="mb-0"><strong>Distance:</strong></p>
          <p class="text-break mb-0"><%= @race.length %> km.</p>
        </div>

        <div class="col col-10 col-md-auto border-start border-info border-2 mb-2">
          <p class="mb-0"><strong>Where:</strong></p>
          <p class="text-break mb-0"><%= @race.meet_point %></p>
        </div>

        <div class="col col-10 col-md-auto border-start border-info border-2 mb-2">
          <p class="mb-0"><strong>When:</strong></p>
          <p class="text-break mb-0"><%= @race.start_date.strftime("%d %b of %Y, %H:%M") %></p>
        </div>
      </div>
    </div>
  </div>


  <div class="row px-4 mt-5">
    <h3 class="text-center">Assistants</h3>
  </div>

  <div class="row px-4">
    <div class="rt-rounded rt-shadow bg-light p-3">

      <div class="col">
        <%= render 'shared/assistants' %>
      </div>

      <div class="col">
        <%= render 'shared/runner_join_button' %>
      </div>
    </div>
  </div>

  <div class="row px-4 mt-5">
    <h3 class="text-center">Chat</h3>
  </div>

  <div class="row mx-4">
    <div class="rt-rounded rt-shadow bg-light mb-5 p-3">
      <p>chat</p><p>chat</p><p>chat</p><p>chat</p>
    </div>
  </div>
</div>
