<div class="rt-banner">
  <div class="d-flex flex-column justify-content-center text-center rt-media-banner py-4">

    <div>
      <h1 class="text-light col-10 col-md-8 mx-auto mb-3">
        Change Password
      </h1>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5">

          <%= simple_form_for(@user, url: users_update_password_path, html: { method: :patch, novalidate: false }) do |f| %>

          <div class="form-control rt-devise-border-0 rt-devise-bg-0 p-0 m-0 mb-4">
            <div class="rt-devise-form-bg rt-dvise-border rt-rounded py-4 px-3 text-start text-light">

              <% if f.object.errors[:base].present? %>
                <div class="alert alert-danger rt-validation-alert mb-3" role="alert">
                  <%= f.object.errors[:base].to_sentence %>
                </div>
              <% end %>

              <%= f.error_notification %>

              <div class="form-inputs">
                <div class="mb-3">
                  <%= f.input :password,
                    required: true,
                    label: 'New password *',
                    hint: "Minimum #{@minimum_password_length} characters" + (@minimum_password_length ? ", at least one number" : ""),
                    input_html: {
                      autocomplete: "new-password",
                      minlength: @minimum_password_length
                    },
                    error: 'Password is too short or does not meet requirements' %>
                </div>

                <div class="mb-3">
                  <%= f.input :password_confirmation,
                    required: true,
                    label: 'Confirm new password *',
                    hint: 'Re-enter your new password',
                    input_html: { autocomplete: "new-password" },
                    error: 'Password confirmation does not match' %>
                </div>

                <%= f.input :current_password,
                  hint: "Enter your current password to confirm changes",
                  required: true,
                  label: 'Current password *',
                  input_html: { autocomplete: "current-password" },
                  error: 'Current password is required to update your password' %>
              </div>

              <div class="form-actions text-center my-3">
                <%= f.button :submit, "Change Password", class: "btn rt-btn rt-font-brand" %>
              </div>
            </div>
          </div>
          <% end %>

          <div class="text-center mt-3">
            <%= link_to "â† Back to Profile", profile_index_path, class: 'rt-font-small rt-banner-link-grey' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
