<div class="rt-banner">
  <div class="d-flex flex-column justify-content-center text-center rt-media-banner py-4">


    <div> <%# START TITLE  %>
      <h1 class="text-light col-10 col-md-8 mx-auto mb-3">
        Forgot your password?
      </h1>
    </div> <%# END TITLE %>

    <div class="container"> <%# START SIGN UP FORM %>
      <div class="row justify-content-center">
        <div class="col col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-control rt-devise-border-0 rt-devise-bg-0 p-0 m-0">
            <div class="rt-devise-form-bg rt-dvise-border rt-rounded py-4 px-3 text-start text-light">
              <div class="form-inputs"><%# START FORM INPUTS %>

                <div class="mb-3"><%# EMAIL %>
                  <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
                </div>

                <div class="form-actions rt-font-brand text-center my-3">
                  <%= f.button :submit, "Reset my password", class: "rt-btn mt-3" %><%# SUBMIT %>
                </div>
              </div>
              <% end %>

              <div class="show-spacer justify-content-center pt-3"></div>

              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

