<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container">

    <%# BRAND LOGO %>
    <%= link_to(image_tag("logo_full.png", alt: "Logo Run Together", class: "rt-navbar-brand"), root_path) %>

    <%# TOGGLE BUTTON %>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# COLLAPSE USER MENU %>
    <div class="collapse navbar-collapse navbar-dark" id="navbarScroll">
      <ul class="navbar-nav ms-auto navbar-nav-show mt-3 mt-md-0">

        <%# FIND RACE %>
        <li class="nav-item pt-1">
          <% active_class = ((action_name == 'index' || action_name == 'show') && controller_name == 'races') ? 'active' : '' %>
          <%= link_to "Find race", races_path, class: "nav-link #{active_class}" %>
        </li>

        <%# CREATE RACE %>
        <li class="nav-item pt-1">
          <% active_class = (action_name == 'new' && controller_name == 'races') ? 'active' : '' %>
          <%= link_to "New race", new_race_path, class: "nav-link #{active_class}" %>
        </li>

        <%# USER AUTHENTICATED MENU %>
        <% if user_signed_in? %>

          <%# AVATAR DROPDOWN %>
          <li class="nav-item dropdown" data-controller="dropdown">
            <a
              class="nav-link dropdown-toggle magenta py-0"
              id="navbarDropdown"
              role="button"
              data-action="click->dropdown#toggle"
              aria-expanded="false">
              <%# Determine avatar image %>
              <% if current_user.photo.attached? %>
                <%= image_tag current_user.avatar_url(size: 100), class: "rt-navbar-avatar" %>
              <% else %>
                <%= image_tag "logo.png", alt: "RunTogether logo", class: "rt-navbar-avatar rt-profile-no-photo" %>
              <% end %>
            </a>

            <%# DROPDOWN MENU OPTIONS %>
            <ul class="dropdown-menu navbar-dark rt-dropdown-expand rt-dropdown-border" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to "My Profile", profile_index_path, class: "dropdown-item rt-dropdown-expand" %>
              </li>
              <li>
                <%= link_to "My Account", edit_user_registration_path, class: "dropdown-item rt-dropdown-expand" %>
              </li>
              <li>
                <hr class="dropdown-divider rt-dropdown-line">
              </li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item rt-dropdown-expand" %>
              </li>
            </ul>
          </li>

        <%# GUEST USER MENU %>
        <% else %>

          <%# SIGN UP LINK %>
          <li class="nav-item pt-1">
            <% active_class = (action_name == 'new' && controller_name == 'registrations') ? 'active' : '' %>
            <%= link_to "Signup", new_user_registration_path, class: "nav-link #{active_class} ms-0 me-3" %>
          </li>

          <%# LOGIN BTN %>
          <li class="nav-item pt-1">
            <% active_class = (action_name == 'new' && controller_name == 'sessions') ? 'active' : '' %>
            <%= link_to "Login", new_user_session_path, class: "nav-link #{active_class} rt-btn rt-font-brand btn-sm px-md-4" %>
          </li>

        <% end %>

      </ul>
    </div>
  </div>
</nav>
