<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <%= link_to(image_tag("logo_full.png", alt: "Logo Run Together", class: 'navbar-logo', style: 'margin-right: 2rem'), root_path) %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
     <% # In the ul classlist, navbar-nav-scroll changes the overview attribute to scroll %>
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-show" style="--bs-scroll-height: 100px;">
        <% # FIXME: implement the aria-page="page" check with https://getbootstrap.com/docs/5.0/components/navbar/ %>
        <li>
          <% active = '' %>
          <% active += action_name == 'home' && controller_name == 'pages' ? 'active' : '' %>
          <%= link_to "Home", root_path, class: "nav-link #{active}", id: "#{active}", :aria => { :'pages' => 'page' } %>
          <% # FIXME: aria-page="page" not set yet ??? WHAT TO DO %>
        </li>

        <li>
          <% active = '' %>
          <% active += (action_name == 'index' || action_name == 'show') && controller_name == 'races' ? 'active' : '' %>
          <%= link_to "Find race", races_path, class: "nav-link #{active}", id: "#{active}" %>
        </li>

        <li>
          <% active = '' %>
          <% active += action_name == 'new' && controller_name == 'races' ? 'active' : '' %>
          <%= link_to "New race", new_race_path, class: "nav-link #{active}", id: "#{active}" %>
        </li>


        <% if user_signed_in? %>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" style="color: rgb(44, 185, 204);" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-bordered dropdown-toggle", id: "navbarDropdown", role: "button", 'data-bs-toggle': "dropdown", 'aria-haspopup': false %>
            <%= current_user.name %>
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "My races", profile_index_path(current_user), class: "dropdown-item"%></li>
            <li><%= link_to "My profile", edit_user_registration_path, class: "dropdown-item"%></li>
            <li><hr class="dropdown-divider"></li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </ul>

        </li>

        <% else %>

          <li class="nav-item">
            <% active = '' %>
            <% active += action_name == 'new' && controller_name == 'sessions' ? 'active' : '' %>
            <%= link_to "Login", new_user_session_path, class: "nav-link #{active}", id: "#{active}" %>
          </li>

          <li class="nav-item">
            <% active = '' %>
            <% active += action_name == 'new' && controller_name == 'registrations' ? 'active' : '' %>
            <%= link_to "Signup", new_user_registration_path, class: "nav-link #{active}", id: "#{active}" %>
          </li>

        </li>

          </li>

        <% end %>

      </ul>
      <% # Partial  nav-item dropdown => navitem_dropdown.html.erb %>
      <% # Partial  navbar-search => navbar_search.html.erb %>
    </div>
  </div>
</nav>


