<div class="row px-4 mt-3">
    <div class="rt-hili-owner-block align-items-center">
      <div class="rt-hili-small">
        <p class="my-auto">Created by:</p>
      </div>
      <!-- OWNER BLOCK / AVATAR -->
      <div>
        <% user = User.find(@race.user_id) %>

			<% profile_url = (user_signed_in? && user.id == current_user.id) ? profile_index_path : profile_path(user) %>
			<%= link_to profile_url do %>
            <% if user.photo.attached? %>
              <%= image_tag user.avatar_url(size: 150),
                class: 'rt-owner-avatar rt-shadow rt-rounded',
                style: 'cursor: pointer;'
              %>
            <% else %>
              <%= image_tag "logo.png",
                alt: "RunTogether logo",
                class: "rt-owner-avatar rt-shadow",
                style: "background-color: black; image-size: cover; cursor: pointer;"
              %>
            <% end %>
        <% end %>

      </div>
      <!-- OWNER BLOCK / NAME -->
      <div class="rt-hili-owner-intro">
        <% if user_signed_in? && user.id != current_user.id %>
          <%= link_to user.name.split[0], profile_path(user), class: 'text-decoration-none text-dark' %>
        <% else %>
          <p class="my-auto"><%= user.name.split[0] %></p>
        <% end %>
      </div>
    </div>
  </div>
