    <div class="xontainer">

      <img src="https://images.unsplash.com/photo-1607962837359-5e7e89f86776" alt="Runners photo">

      <div class="xontent">

        <h5><%= @this_race.name  %></h5>

        <div class="highlight">

          <article>

            <content data-type="1">
              <p data-font="title">Date</p>
              <p><%= @this_race.start_time.strftime("%d/%m/%Y")%></p>
              <p><%= @this_race.start_time.strftime("%H:%Mh")%></p>
            </content>

            <content data-type="2"></content>

            <content data-type="1">
              <p data-font="title">Distance</p>
              <p data-font="staatliches"><%= @this_race.length %> K</p>
            </content>

            <content data-type="2"></content>

            <content data-type="1">
              <p data-font="title">Assistants</p>
              <p data-font="staatliches"><%= Runner.where(race_id: @this_race.id).count() %></p>
            </content>

          </article>

        </div>

        <%= link_to "More info", race_path(@this_race), class: "" %>

      </div>

    </div>

