      <%# USER PROFILE GROUP %>
      <div class="row mt-5 align-items-center">
        <div class="col col-2"></div>
        <div class="col col-3">
          <%# USER ACCOUNT AVATAR %>
          <div class="d-flex">
            <% if @user.photo.key %>
              <%= cl_image_tag current_user.photo.key,
                height: 150,
                width: 150,
                gravity: :face,
                crop: :fill,
                class: 'rt-profile-avatar rt-shadow mx-auto'
              %>
            <% else %>
              <%= image_tag "logo.png",
                alt:"RunTogether logo",
                class: "rt-profile-avatar rt-profile-no-photo rt-shadow mx-auto"
              %>
            <% end %>
          </div>
        </div>
        <%# USER ACCOUNT DATA %>
        <div class="col col-6">
          <%# USER NAME %>
          <div class="d-flex">
            <p class="rt-hili-p-join">Nombre:&nbsp;</p>
            <strong> <%= @full_name %></strong>
          </div>
          <%# USER EMAIL %>
          <div class="d-flex">
            <p class="rt-hili-p-join">Email:&nbsp;</p>
              <strong><%= @hidden_email.split('@')[0] %></strong>
              <strong>@<%= @hidden_email.split('@')[1] %></strong>
          </div>
          <%# USER ACCOUNT DATA EDIT BUTTON %>
          <div class="col">
            <%= link_to "Edit profile",
              edit_user_registration_path,
              class: "btn btn-sm btn-info"
            %>
          </div>
        </div>
        <div class="col col-1"></div>
      </div>
      <%# USER PROFILE GROUP END%>
