<div class="container page-container">
  <h2>Login</h2>
  <div class="container races-container-style">
    <div class="row p-3">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <div class="mb-3">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>
          <div class="mb-3">
            <%= f.input :password,
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>
          <div class="mb-3">
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions place-btn">
            <%= f.button :submit, "Log in", class: 'secondary-btn' %>
          </div>
      </div>
        <% end %>
      <div class="container">
        <%= render "devise/shared/links" %></div>
      </div>
    </div>
  </div>
</div>
