<div class="rt-banner">
  <div class="d-flex flex-column justify-content-center text-center rt-media-banner py-4">

    <div> <%# START TITLE  %>
      <h1 class="text-light col-10 col-md-8 mx-auto mb-3">
        Login
      </h1>
    </div> <%# END TITLE %>

    <div class="container"> <%# START SIGN UP FORM %>
      <div class="row justify-content-center">
        <div class="col col-11 col-sm-10 col-md-8 col-lg-6 col-xl-4">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { novalidate: false }) do |f| %>

          <div class="form-control rt-devise-border-0 rt-devise-bg-0 p-0 m-0">
            <div class="rt-devise-form-bg rt-dvise-border rt-rounded py-4 px-3 text-start text-light">

              <%# Show login error messages %>
              <% if flash[:alert] %>
                <div class="alert alert-danger rt-validation-alert mb-3" role="alert">
                  <%= flash[:alert] %>
                </div>
              <% end %>

              <div class="form-inputs"><%# START FORM INPUTS %>

                <div class="mb-3"><%# EMAIL %>
                  <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: 'Email *',
                    input_html: { autocomplete: "email" },
                    error: 'Please enter your email address' %>
                </div>

                <div class="mb-3"><%# PASSWORD %>
                  <%= f.input :password,
                    required: true,
                    label: 'Password *',
                    input_html: { autocomplete: "current-password" },
                    error: 'Please enter your password' %>
                </div>

                <div class="mb-3"><%# REMEMBER ME %>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>

                <div class="form-actions rt-font-brand text-center my-3">
                  <%= f.button :submit, "Log in", class: 'rt-btn btn-sm mt-3 px-md-4' %><%# SUBMIT %>
                </div>
              </div>
              <% end %>

              <div class="show-spacer justify-content-center pt-3"></div>

              <div>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

