<div class="container text-dark">

  <%# WELCOME ROW %>
  <div class="row mt-5 mb-0">
    <div class="col mb-0">
      <h1 class="mb-0 text-center">
        Welcome <%= current_user.name
        .split(' ')[0]
        .capitalize
      %></h1>
    </div>
  </div>

  <%# USER PROFILE BLOCK %>
  <%= render 'shared/user_profile_block' %>

  <%# LINE %>
  <div class="row justify-content-center mt-5 mb-0">
    <div class="col col-sm-12 col-lg-6 px-3">
      <div class="rt-banner-line-dark">
      </div>
    </div>
  </div>

  <%# ADDITIONAL USER INFO %>
  <div class="row justify-content-center mt-5 rt-linked">

    <%# ABOUT YOU %>
    <div class="col col-12 col-sm-6">
      <h5 class="rt-hili-title text-start text-md-end px-3">
        About you
      </h5>

      <div class="bg-light rt-rounded text-dark rt-shadow p-3">
        <% if @user.intro %>
        <p class="rt-hili-text text-dark text-start">
          <%= @user.intro.about %>
        </p>
        <div class="d-flex justify-content-center">
          <%= link_to "Edit intro",
          edit_intro_path(@user.intro),
          class: 'btn btn-sm btn-info'
          %>
        </div>
        <% else %>
        <p class="rt-hili-text text-dark test-start text-md-end">
          Tell something about you. No need to mention you like running!!! 😉
        </p>
        <div class="d-flex justify-content-center">
          <%= link_to "Add an intro",
          new_intro_path,
          class: 'btn btn-sm btn-info'
          %>
        </div>
        <% end %>
      </div>
    </div>

    <%# RACES COUNTER %>
    <div class="col col-12 col-sm-6 mt-5 mt-sm-0">

      <h5 class="rt-hili-title px-3">
        Races counter
      </h5>

      <ul class="list-group list-group-flush rt-rounded rt-shadow">
        <li class="list-group-item ps-3 bg-light">Active races:
          <%= @my_races.count + @optin_races.count %>
        </li>
        <li class="list-group-item ps-3 bg-light">Created by you:
          <%= @my_races.count %>
        </li>
        <li class="list-group-item ps-3 bg-light">Races you joined:
          <%= @optin_races.count %>
        </li>
      </ul>
    </div>
  </div>

  <%# LINE %>
  <div class="row justify-content-center mt-5 mb-0">
    <div class="col col-sm-12 px-3">
      <div class="rt-banner-line-dark">
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <h2 class="text-center text-dark">Your races</h2>
  </div>

  <% if @my_races.any? %>
    <div class="row row-cols-12 row-cols-sm-6 row-cols-md-4 row-cols-xl-3">
      <% @my_races.each do |race| %>
        <% @race = race %>
        <%= render 'shared/card' %>
      <% end %>
    </div>
    <% else %>
    <div class="row row-cols-12 row-cols-sm-6 row-cols-md-4 row-cols-xl-3 justify-content-center">
      <div class="col col-10">
        <p class="text-center">
          You don't have any race yet
        </p>
        <div class="text-center">
          <%= link_to "Create a race",
          races_path,
          class: "btn rt-btn text-center rt-hili-brand"
          %>
        </div>
      </div>
    </div>
  <% end %>


  <%# LINE %>
  <div class="row justify-content-center mt-5 mb-0">
    <div class="col col-sm-12 px-3">
      <div class="rt-banner-line-dark">
      </div>
    </div>
  </div>

  <div class="row my-5">
    <h2 class="text-center text-dark">
      Races you've joined
    </h2>

      <% if @optin_races.any? %>
        <div class="row row-cols-12 row-cols-sm-6 row-cols-md-4 row-cols-xl-3">
          <% @optin_races.each do |race| %>
            <% @race = race %>
            <%= render 'shared/card' %>
          <% end %>
        </div>
      <% else %>
        <div class="row row-cols-12 row-cols-sm-6 row-cols-md-4 row-cols-xl-3 justify-content-center">
          <div class="col col-10">
            <p class="text-center">
              You didn't join any race yet
            </p>
            <div class="text-center">
              <%= link_to "Find race",
              races_path,
              class: "btn rt-btn text-center rt-hili-brand"
              %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
