<div class="container text-dark">

  <%# WELCOME ROW %>
  <div class="row mt-5 mb-0">
    <div class="col mb-0">
      <h2 class="mb-0 text-center">
        Welcome <%= current_user
                  .name
                  .split(' ')[0]
                  .capitalize
                %>
      </h2>
    </div>
  </div>

  <%# USER PROFILE BLOCK%>
  <%= render 'shared/user_profile_block' %>

</div>

<div class="container">

  <div class="rt-banner-line-dark w-50 mt-5"></div>


  <div class="row mt-5">
    <div class="col-12 col-sm-10 col-md-6">
      <h5 class="rt-hili-title text-end pe-5">
        About you
      </h5>
      <div class="bg-light rt-rounded text-light p-3 pe-5">
        <% if @user.intro %>
          <p class="pe-5">
            <%= @user.intro %>
          </p>
        <% else %>
          <p class="rt-hili-text text-dark text-end">
            Tell something about you. No need to mention you like running!!! 😉
          </p>
          <div class="d-flex justify-content-end">
            <%= link_to "Add a intro",
              "#",
              class: 'btn btn-sm btn-info'
            %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-sm-10 col-md-6">
      <h5 class="rt-hili-title ps-5">
        Races counter
      </h5>

        <ul class="list-group list-group-flush rt-rounded">
          <li class="list-group-item ps-5 bg-light">Active races:
            <%= @my_races.count + @optin_races.count %>
          </li>
          <li class="list-group-item ps-5 bg-light">Created by you:
            <%= @my_races.count %>
          </li>
          <li class="list-group-item ps-5 bg-light">Races you joined:
            <%= @optin_races.count %>
          </li>
        </ul>
      </div>
    </div>

  </div>
  </div>

  <div class="rt-banner-line-dark w-50 pt-5"></div>

<div class="container mt-5">
  <div class="row">
    <h2 class="text-center text-dark">
      Your races
    </h2>
    <% if @my_races.any? %>
    <% @my_races.each do |race| %>
    <% @race = race %>
    <%= render 'shared/race' %>
    <% end %>
    <% else %>
    <p>You don't have any race yet</p>
    <div class="row"><%= link_to "Create a race", new_race_path, class: "btn rt-btn text-center" %></div>
    <% end %>
  </div>
</div>

<div class="container races-container-style mb-3">
  <div class="row p-3">
    <h2>Races you've joined</h2>
    <% if @optin_races.any? %>
    <% @optin_races.each do |race| %>
    <% @race = race %>
    <%= render 'shared/race' %>
    <% end %>
    <% else %>
    <p>You didn't join any racer yet</p>
    <div class="row"><%= link_to "Find a race", races_path, class: "btn rt-btn" %></div>
    <% end %>
  </div>
</div>
</div>
