<!DOCTYPE html>
<html>
  <head>
    <title>Run Together</title>
    <%= favicon_link_tag asset_path('logo.png'), :rel => 'icon', :type => 'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

	<script src="https://kit.fontawesome.com/d9949f878d.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= yield %>

    <%= render 'shared/flashes' %>
    <%= render 'shared/footer' %>
  </body>
</html>
